[submodule "external/TCA9535"]
	path = external/TCA9535
	url = https://github.com/L0czek/TCA9535
[submodule "external/sfpconv"]
	path = external/sfpconv
	url = https://github.com/L0czek/sfpconv
[submodule "external/Si5351-lib"]
	path = external/Si5351-lib
	url = https://github.com/L0czek/Si5351-lib.git
